.full-height{height:100vh;}
#option-menu-dropdown{position:absolute;top:0px;left:0px;width:500px;height:50vh;background-color:rgba(200, 200, 200, .95);overflow-x:hidden;overflow-y:scroll;}
.left-margin-settings{margin-left:20px;}